@{
    ViewData["Title"] = "About";
}
<p></p>
<h5>
    <span class="style-change">
        Привет! Вы стали гостем проекта CafeBook – сервиса онлайн бронирования столиков.
        Наш сервис посвящен ресторанной и околоресторанной тематике – всему, что может
        заинтересовать, оказаться вдохновляющим и полезным для неравнодушного к ресторанному делу!


        CafeBook — простой и удобный сервис для online бронирования столиков в Ваших любимых заведениях!
        CafeBook для Рестораторов →
        ИНТЕРЕСНОЕ В ПОМОЩЬ РЕСТОРАТОРУ



        С помощью online сервиса ежедневно резервируются сотни столиков в популярных пабах, барах,
        кафе и ресторанах Украины. Присоединяйтесь!
    </span>
</h5>