@{
    ViewData["Title"] = "Contact";
}
<p></p>
<!-- Content Row -->
<div class="row">
    <div class="Bfont">
        <h5>По вопросам подключения к сервису:</h5>
        <p>
            <abbr title="Phone">Телефон</abbr>: (067) 381-1111
        </p>
        <p>
            <abbr title="Email">Email</abbr>: mail@mail.com
        </p>
        <h5>Техподдержка:</h5>
        <p>
            <abbr title="Phone">Телефон</abbr>: (3802) 62-0000
        </p>
        <p>
            <abbr title="Email">Email</abbr>: some@mail.com
        </p>
    </div>
  

</div>
