@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<a class="btn btn-sm btn-primary" asp-controller="Users" asp-action="Index">Менеджеры и рестораны</a>
<a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Index">Пользователи и роли</a>
<a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="RestaurantsList">Редактирование ресторанов</a>